$col-cream-light: #f7f6f4;
$col-cream: #ece8d9;
$col-blue-light: #edf6fd;
$col-blue-md: #506683;
$col-blue-dark: #384a62;
$col-sky-blue: #1da1f2;
$col-green-dark: #4a945a;
$col-gray-dark: #708095;
$col-gray-md: #b0b8c2;
$col-brown: #cbcac8;
$col-red: #d77f81;
$col-body: #ebeceb;
$gray-modal: #ced5dd;
$pale-brown: "#FFFEFA";
