.c-nav {
  color: $col-blue-dark;
  position: absolute;
  top: 79px;
  z-index: 20;
  width: 100%;
  left: 0;

  .inner-nav {
    font-size: 14.5px;
    padding: 20px;

    @include media(">tablet") {
      padding: 0 20px;
    }

    .c-logo {
      max-width: 140px;
      img {
        width: 100%;
      }
    }

    .nav-items {
      @include media(">tablet") {
        margin-top: 20px;
      }

      @include media("<=1000px") {
        font-size: 12px;
      }

      li {
        padding-bottom: 20px;
      }

      .nav-link {
        display: none;
        transition: color 0.2s;
        color: $col-blue-dark;

        &:hover {
          color: lighten($col-blue-dark, 10%);
        }

        &.c-btn {
          display: inline-block;
        }

        @include media(">tablet") {
          display: inline-block;
        }
      }
    }

    .c-btn {
      color: $col-red;
      transition: color 0.2s;
      cursor: pointer;

      button {
        color: $col-red;
        transition: color 0.2s;
      }

      &:hover {
        color: darken($col-red, 10%);
        button {
          color: darken($col-red, 10%);
        }
      }
    }
  }

  &.c-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #ffffff;
    animation: moveDown 0.5s ease-in-out;
    z-index: 20;
    
    .inner-nav {
      @keyframes moveDown {
        from {
          transform: translateY(-5rem);
        }
        to {
          transform: translateY(0rem);
        }
      }
    }

    .c-mobilenav {
      &__button {
        background: $col-red;
        color: #ffffff;
      }
    }
  }

  .c-nav__listitem {
    &:hover {
      .main-nav-sub-list {
        z-index: 30;
        opacity: 1;
        pointer-events: auto;
      }
    }
    .main-nav-sub-list {
      width: 100%;
      position: absolute;
      left: 50%;
      margin-top: 20px;
      transform: translateX(-50%);
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s;
      pointer-events: none;

      a {
        display: table;
        color: $col-blue-md;
      }

      .c-navdropdown {
        border-radius: 3px;
        background: #ffffff;
        > div {
          max-height: 480px;
          overflow-y: scroll;

          &::-webkit-scrollbar-thumb {
            background-color: $gray-modal;
          }

          &::-webkit-scrollbar {
            background-color: #ffffff;
            width: 7px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $gray-modal;
            border-radius: 40px;
            transition: background-color 0.5s ease-in;
          }

          &::-webkit-scrollbar-thumb:active {
            background-color: $gray-modal;
          }

          &::-webkit-scrollbar-corner {
            background-color: #ffffff;
          }
        }

        a {
          border-radius: 3px;
          padding: 8px;
          padding-left: 0;
          margin-bottom: 5px;
          transition: background-color 0.2s;

          &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.70711 6.29289C8.09763 6.68342 8.09763 7.31658 7.70711 7.70711L1.70711 13.7071C1.31658 14.0976 0.683417 14.0976 0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6834 0.292893 12.2929L5.58579 7L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z' fill='%23506683'/%3E%3C/svg%3E%0A");
            content: none;
            background-size: 6px;
            background-position: 10px 4px;
            white-space: nowrap;
            padding-left: 20px;
            background-repeat: no-repeat;
          }

          &.active {
            background-color: $col-cream;
            padding-left: 8px;
            transition: background-color 0s;

            &::after {
              content: "";
            }
          }
        }
      }
    }
  }

  .c-preview {
    &__details {
      button {
        background: $col-red;
        padding: 10px 14px;
        border-radius: 3px;
        font-size: 13px;
        color: #ffffff;
        &:hover {
          span {
            &::after {
              background-position: 13px 4px;
            }
          }
        }

        &.eco {
          background: $col-green-dark;
        }

        span {
          &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            content: "";
            background-size: 6px;
            background-position: 10px 4px;
            white-space: nowrap;
            padding-left: 20px;
            background-repeat: no-repeat;
            transition: background-position 0.2s;
          }
        }
      }

      .preview-title {
        color: $col-blue-dark;
        font-size: 16px;
      }
      p {
        color: $col-gray-dark;
        font-size: 0.75rem;
      }
      .preview-cost {
        color: $col-blue-dark;

        &.desc {
          color: $col-blue-md;
        }

        span {
          color: $col-gray-dark;
          font-size: 0.9rem;
        }
      }
    }

    &__image {
    }
  }

  &__userarea {
    @include media(">tablet") {
      margin-top: -20px;
    }
  }

  .c-mobilenav {
    padding: 10px 20px;
    background: $col-blue-dark;
    &__button {
      background: $col-red;
      color: #ffffff;
    }
  }

  &--mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 40px);
    z-index: 100;
    transition: transform 0.3s;
    transform: translateY(-100%);

    &.active {
      transform: translateY(0);
    }
  }

  .c-logged {
    &__in {
      .c-user {
        &:hover {
          .c-user__dropdown {
            opacity: 1;
            z-index: 50;
            transition-delay: 0;
            pointer-events: auto;
          }
        }
        &__avatar {
          img {
            border-radius: 50%;
          }
        }

        &__name {
          position: relative;

          @include media("<=phone") {
            font-size: 13px;
            line-height: 2;
          }

          &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.529.529c.26-.26.682-.26.942 0L5 4.057 8.529.53a.667.667 0 11.942.942l-4 4a.667.667 0 01-.942 0l-4-4a.667.667 0 010-.942z' fill='%23384A62'/%3E%3C/svg%3E");
            content: "";
            background-size: 10px;
            top: 50%;
            transform: translateY(-50%);
            background-position: 6px 7px;
            white-space: nowrap;
            padding-left: 20px;
            background-repeat: no-repeat;
          }
        }

        &__dropdown {
          position: absolute;
          width: 270px;
          background: #fffdf8;
          border: 1.5px solid #c4c4c4;
          border-radius: 4px;
          margin-top: 5px;
          left: -10px;
          z-index: -10;
          opacity: 0;
          transition: opacity 0.3s;
          // will-change: opacity;
          pointer-events: none;

          @include media("<=500px") {
            width: 200px;
            font-size: 14px;
          }

          &::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            margin-left: -7.5px;
            margin-top: -7.5px;
            border-bottom: 0;
            border-right: 0;
            border-left: 1.5px solid #c4c4c4;
            border-top: 1.5px solid #c4c4c4;
            left: 50%;
            top: 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: #fffdf8;
            border-radius: 2px;
            border-bottom-right-radius: 18px;
          }
        }
      }
    }
  }
}

.home-nav-mobile {
  .c-mobilenav {
    background: unset;
    &__button {
      background: #ffffff;
      color: $col-blue-dark;
    }
  }
}
