.c-products-preview {
  .c-preview {
    &__header {
      h3 {
        color: $col-blue-dark;
      }
      a {
        color: $col-red;
        line-height: 2.2;
      }
    }

    &__main {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 30px;
    }

    &__box {
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
        0px 10px 34px -16px rgba(0, 0, 0, 0.08),
        0px 6px 4px rgba(164, 164, 164, 0.06);
      border-radius: 3px 3px 0px 0px;
      display: flex;
      flex-direction: column;

      .c-box {
        &__image {
          overflow: hidden;
          min-height: 150px;
          img {
            transition: transform 0.2s;

            &:hover {
              transform: scale(1.1);
            }
          }

          img {
            height: 14rem;
            width: 100%;
            object-fit: cover;
          }
        }
        &__details {
          margin-top: auto;
          button {
            background: $col-red;
            padding: 10px 14px;
            border-radius: 3px;
            font-size: 13px;
            font-family: "SF Pro", sans-serif;
            &:hover {
              span {
                &::after {
                  background-position: 13px 4px;
                }
              }
            }

            &.eco {
              background: $col-green-dark;
            }

            span {
              &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                content: "";
                background-size: 6px;
                background-position: 10px 4px;
                white-space: nowrap;
                padding-left: 20px;
                background-repeat: no-repeat;
                transition: background-position 0.2s;
              }
            }
          }

          h4 {
            color: $col-blue-dark;
          }
          p {
            color: $col-gray-dark;
            font-size: 0.8rem;
          }
          h3 {
            color: $col-blue-dark;

            &.desc {
              color: $col-blue-md;
            }

            span {
              color: $col-gray-dark;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

.c-product-showcase {
  .showcase-details {
    grid-template-columns: 1fr 0.72fr;
    grid-gap: 30px;

    @include media("<=tablet") {
      grid-template-columns: unset;
    }

    .toggle-images {
      img {
        height: 55px;
        width: 55px;
        object-position: 50% 50%;
      }

      button {
        outline: none;
      }
    }

    img {
      object-fit: cover;
      object-position: 50% 50%;
      &.main-image {
        width: 100%;
        height: 360px;
      }

      @include media("<=tablet") {
        &.main-image {
          height: 300px;
        }
      }
    }

    .main-details {
      p {
        font-size: 15px;

        @include media("<=900px") {
          font-size: 14px;
        }

        @include media("<=phone") {
          font-size: 15px;
        }
      }

      select {
        border: 1px solid #cbcac8;
        height: 45px;
        font-family: "SF-reg", sans-serif;
        text-indent: 10px;
        color: $col-blue-dark;
      }

      button {
        height: 45px;
        font-size: 15px;
      }
    }
  }
}
.c-specs {
  max-width: 700px;
  width: 100%;
}

.c-shipping {
  max-width: 250px;
  width: 100%;
}

.product-specs {
  .option {
    p {
      font-size: 13px;
    }
    img {
      border-radius: 2px;
      cursor: pointer;
      width: 115px;
      object-fit: cover;
    }

    > div {
      &.active {
        img {
          border: 2px solid $col-red;
        }

        &::after {
          content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='12' cy='11.5' rx='8' ry='8.5' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12ZM5 12L10 17L19 8L17.59 6.58L10 14.17L6.41 10.59L5 12Z' fill='%23D77F81'/%3E%3C/svg%3E%0A");
          position: absolute;
          right: 5px;
          top: 5px;
          width: 24px;
        }
      }
    }
  }
}

.product-hero {
  p {
    font-size: 15px;
    position: relative;
    z-index: 1;

    @include media("<=phone") {
      font-size: 13px;
      max-width: 230px;
    }
  }

  button {
    position: relative;
    z-index: 1;
  }
}

.product-categories {
  .c-category {
    @include media("<=1000px") {
      display: block;

      > div {
        width: 100%;
      }
    }
    button {
      padding-left: 20px;
      padding-right: 20px;
    }
    &__details {
      p {
        font-size: 15px;
      }
    }
    .img-con {
      max-width: 370px;
      width: 100%;

      @include media("<=tablet") {
        max-width: 500px;
      }

      @include media("<=phone") {
        max-width: unset;
      }
    }
  }
}

.request-grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;

  .request-option {
    border: 1px solid $col-cream;
    border-radius: 3px;
  }
}

.c-allproducts {
  overflow: hidden;
  .c-allproducts__tabs {
    max-width: 200px;

    @include media("<=tablet") {
      max-width: unset;
      padding-right: 20px;
      h5 {
        font-size: 14px;
      }
    }

    h5 {
      cursor: pointer;
      &.active {
        color: $col-red;
      }
    }

    hr {
      border: 0.8px solid #cbcac8;

      @include media("<=tablet") {
        max-width: 100px;
      }
    }

    .inner-tab {
      @include media("<=tablet") {
        overflow: scroll;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .c-allproducts__content {
    max-width: 840px;
    width: 100%;
  }
  .c-allproducts__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    .c-box {
      &__image {
        overflow: hidden;
        min-height: 150px;
        img {
          transition: transform 0.2s;

          &:hover {
            transform: scale(1.1);
          }
        }
        img {
          height: 14rem;
          width: 100%;
          object-fit: cover;
        }
      }

      &__desc {
        padding-right: 30px;
        line-height: 1.7;
      }
    }
  }
}
