.c-supportbar {
  font-family: "SF Pro";
  font-size: 12.9px;

  @include media("<=1000px") {
    font-size: 11px;
  }

  .call-link {
    font-family: "SF Pro";
    color: $col-sky-blue;
  }
  &__links {
    a {
      transition: color 0.2s;

      &:hover {
        color: darken($col-blue-md, 20%);
      }
    }
  }

  .c-country-select {
    border: 1px solid $col-brown;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    line-height: 0;
    display: block;
  }
}
